#password-manager {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;

  #password-manager-aside {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 4rem;
    padding: 2rem;
    background-color: #f4f4f4;

    #menu-account {
      display: grid;
      grid-template-rows: repeat(2, max-content);
      gap: 1rem;
      padding: 1rem;
      background-color: white;
      border-radius: 0.5rem;
      font-size: 18px;
      align-items: center;
      justify-self: center;
      position: absolute;
      z-index: 1;
      top: 7.5rem;
      width: 18.5vw;

      #divisor {
        background-color: #e5e5e5;
        height: 1px;
      }

      span {
        cursor: pointer;
        padding: 0.5rem;
        justify-self: center;
        transition: all 0.1s linear;
        border-radius: 0.25rem;
      }

      span:hover {
        background-color: #f4f4f4;
      }
    }

    #account {
      display: grid;
      grid-template-columns: max-content 1fr auto;
      gap: 1rem;
      align-items: center;
      cursor: pointer;
      padding: 0.8rem;
      transition: all 0.1s linear;
      border-radius: 0.5rem;

      #avatar {
        padding: 0.5rem;
        background-color: #303136;
        border-radius: 0.25rem;
        color: white;
        width: 40px;
        height: 40px;
      }

      span {
        font-size: 24px;
      }

      #manage-account-icon {
        width: 25px;
        height: 25px;
      }
    }

    #account:hover {
      background-color: #e5e5e5;
    }

    #password-manager-nav {
      display: grid;
      grid-template-rows: repeat(2, max-content);
      gap: 2rem;
      padding-left: 1.5rem;

      ul {
        display: grid;
        gap: 2rem;

        li {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          gap: 1rem;
          cursor: pointer;
          padding: 0.5rem;
          transition: all 0.1s linear;
          justify-self: left;

          .nav-icon {
            width: 20px;
            height: 20px;
          }

          span {
            font-size: 18px;
          }
        }

        li:hover {
          background-color: #e5e5e5;
          border-radius: 0.5rem;
        }
      }

      #nav-chests {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 1rem;
        color: #b6c2c2;

        .chest-icon {
          width: 20px;
          height: 20px;
          cursor: pointer;
          padding: 0.25rem;
          transition: all 0.1s linear;
        }

        .chest-icon:hover {
          background-color: #e5e5e5;
          border-radius: 0.25rem;
        }

        span {
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
  }

  #password-manager-main {
    display: grid;
    grid-template:
      'header header' auto
      'aside display' 1fr / max-content 1fr;

    #password-manager-main-header {
      grid-area: header;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 2rem;
      align-items: center;
      justify-content: right;
      padding: 2rem;
      border-bottom: 1px solid #e5e5e5;

      #bug {
        width: 25px;
        height: 25px;
        color: #b6c2c2;
        transform: rotate(-25deg);
        cursor: pointer;
        padding: 0.5rem;
        transition: all 0.1s linear;
      }

      #bug:hover {
        background-color: #f4f4f4;
      }

      button {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 0.5rem;
        padding: 0.5rem;
        background-color: #4581ce;
        border: none;
        border-radius: 0.25rem;
        color: white;
        align-items: center;
        cursor: pointer;
        transition: all 0.1s linear;

        #header-icon {
          width: 18px;
          height: 18px;
        }

        span {
          font-family: 'Prompt', sans-serif;
          font-size: 18px;
        }
      }

      button:hover {
        background-color: #1a285f;
      }
    }

    #password-manager-main-aside {
      display: grid;
      grid-template-rows: max-content;
      gap: 1rem;
      padding: 1rem;
      border-right: 1px solid #e5e5e5;

      ul {
        display: grid;
        gap: 1rem;
        height: min-content;

        li {
          display: grid;
          grid-template-columns: repeat(2, max-content);
          align-items: center;
          gap: 1rem;
          list-style-type: none;
          cursor: pointer;
          padding: 0.5rem;
          transition: all 0.1s linear;
          justify-self: left;

          .item-icon {
            padding: 0.3rem;
            background-color: #303136;
            border-radius: 0.25rem;
            color: white;
            width: 25px;
            height: 25px;
          }

          span {
            font-size: 21px;
          }
        }

        li:hover {
          background-color: #f4f4f4;
          border-radius: 0.5rem;
        }
      }

      #search-items {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        color: #b6c2c2;
        border-radius: 0.25rem;
        padding: 1rem;
        gap: 1rem;
        align-items: center;
        width: min-content;
        border: 2px solid #f4f4f4;

        #search-icon {
          height: 20px;
          width: 20px;
        }

        input {
          border: none;
          background-color: transparent;
          font-family: 'Prompt', sans-serif;
          font-size: 18px;
        }

        input::placeholder {
          color: #b6c2c2;
        }

        input:focus {
          outline: none;
        }
      }
    }
  }

  #display-area {
    display: grid;

    #app-default-logo {
      height: 180px;
      justify-self: center;
      align-self: center;
    }

    #item-display {
      display: grid;
      grid-template-rows: max-content 1fr;
      align-items: center;

      #item-actions {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 4rem;
        color: #b6c2c2;
        padding: 2rem;
        justify-content: right;

        .unfavorite-item {
          color: #4581ce;
        }

        li:hover {
          background-color: #f4f4f4;
          border-radius: 0.25rem;
        }

        li {
          display: grid;
          grid-template-columns: repeat(2, max-content);
          gap: 0.8rem;
          align-items: center;
          list-style-type: none;
          cursor: pointer;
          padding: 0.5rem;
          transition: all 0.1s linear;

          .action-icon {
            width: 18px;
            height: 18px;
          }

          span {
            font-size: 18px;
          }
        }
      }

      #item-info {
        display: grid;
        grid-template-rows: repeat(2, max-content);
        gap: 2rem;
        justify-content: center;
        padding: 2rem;

        #item-headline {
          display: grid;
          grid-template-columns: repeat(2, max-content);
          gap: 0.5rem;
          align-items: center;

          #item-avatar {
            padding: 0.3rem;
            color: white;
            width: 30px;
            height: 30px;
            background-color: #303136;
            border-radius: 0.25rem;
          }

          h2 {
            font-size: 28px;
          }
        }

        ul {
          display: grid;
          grid-template-rows: repeat(auto, max-content);
          border: 2px solid #e5e5e5;
          border-radius: 0.5rem;

          #info-div {
            background-color: #e5e5e5;
            height: 1px;
          }

          .element-info {
            border-bottom: 2px solid #e5e5e5;
          }

          .websites-info {
            border-top: 2px solid #e5e5e5;
          }

          li {
            display: grid;
            grid-template-rows: repeat(2, max-content);
            gap: 0.5rem;
            align-items: center;
            list-style-type: none;
            padding: 1.5rem;
            min-width: 500px;

            span {
              font-size: 16px;
              color: #4581ce;
            }

            p {
              font-size: 21px;
            }
          }
        }
      }
    }
  }
}

#edit-item {
  display: grid;
  grid-template-rows: repeat(5, max-content);
  gap: 2rem;
  position: fixed;
  z-index: 2;
  align-self: center;
  justify-self: center;
  padding: 2rem;
  background-color: white;
  border-radius: 0.25rem;

  .inputs-edit-item {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 1rem;
    font-size: 18px;

    label {
      color: #b6c2c2;
    }

    input {
      padding: 0.8rem;
      width: 500px;
      border: none;
      background-color: #f2f2f2;
      border-radius: 0.25rem;
      color: #303136;
      font-family: 'Prompt', sans-serif;
      font-size: 18px;
    }

    input:focus {
      outline: 1px solid #303136;
    }
  }

  .error-message {
    background-color: #e5e5e5;
    padding: 0.8rem;
    width: 500px;
    border-radius: 0.25rem;
    color: #bc1823;
    text-align: center;
    font-size: 18px;
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    justify-content: right;

    #cancel,
    #edit {
      padding: 0.8rem;
      width: 100px;
      font-size: 18px;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: all 0.1s linear;
      font-family: 'Prompt', sans-serif;
    }

    #cancel {
      background-color: #f4f4f4;
      color: #b6c2c2;
    }

    #cancel:hover {
      background-color: #b6c2c2;
      color: #f4f4f4;
    }

    #edit {
      color: white;
      background-color: #4581ce;
    }

    #edit:hover {
      background-color: #1a285f;
    }
  }
}

.modal-active {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(9, 9, 9, 0.4);
}

.modal-above-active {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(9, 9, 9, 0.4);
}

#delete-chest,
#delete-item {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 1rem;
  font-size: 18px;
  position: fixed;
  z-index: 2;
  align-self: center;
  justify-self: center;
  border-radius: 0.25rem;
  padding: 2rem;
  background-color: white;

  span {
    color: #bc1823;
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    justify-content: right;
  }

  #cancel,
  #delete {
    padding: 0.8rem;
    width: 100px;
    font-size: 18px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.1s linear;
    font-family: 'Prompt', sans-serif;
  }

  #cancel {
    background-color: #f4f4f4;
    color: #b6c2c2;
  }

  #cancel:hover {
    background-color: #b6c2c2;
    color: #f4f4f4;
  }

  #delete {
    background-color: #bc1823;
    color: white;
  }

  #delete:hover {
    background-color: #670d13;
  }
}

#create-item-modal {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 2rem;
  padding: 2rem;
  position: fixed;
  z-index: 2;
  align-self: center;
  justify-self: center;
  border-radius: 0.25rem;
  background-color: white;

  #item-name-avatar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    align-items: center;

    .avatar-item-icon {
      padding: 0.5rem;
      height: 30px;
      width: 30px;
      border: 0.25rem;
      background-color: #303136;
      color: white;
      border-radius: 0.25rem;
    }

    h2 {
      font-size: 28px;
    }
  }

  #create-item {
    display: grid;
    grid-template-rows: repeat(5, max-content);
    gap: 2rem;

    .error-message {
      background-color: #e5e5e5;
      padding: 0.8rem;
      width: 500px;
      border-radius: 0.25rem;
      color: #bc1823;
      text-align: center;
      font-size: 18px;
    }

    input {
      padding: 0.8rem;
      width: 500px;
      border: none;
      background-color: #f2f2f2;
      border-radius: 0.25rem;
      color: #303136;
      font-family: 'Prompt', sans-serif;
      font-size: 18px;
    }

    input::placeholder {
      color: #b6c2c2;
    }

    input:focus {
      outline: 1px solid #303136;
    }

    #buttons {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 1rem;
      justify-content: right;

      #cancel,
      #create {
        padding: 0.8rem;
        width: 100px;
        font-size: 18px;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: all 0.1s linear;
        font-family: 'Prompt', sans-serif;
      }

      #cancel {
        background-color: #f4f4f4;
        color: #b6c2c2;
      }

      #cancel:hover {
        background-color: #b6c2c2;
        color: #f4f4f4;
      }

      #create {
        color: white;
        background-color: #4581ce;
      }

      #create:hover {
        background-color: #1a285f;
      }
    }
  }
}

#create-ticket-modal,
#create-chest-modal {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.25rem;
  position: fixed;
  z-index: 2;
  align-self: center;
  justify-self: center;

  #ticket-name-avatar,
  #chest-name-avatar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    align-items: center;

    .avatar-ticket-icon,
    .avatar-chest-icon {
      padding: 0.5rem;
      height: 30px;
      width: 30px;
      border: 0.25rem;
      background-color: #303136;
      color: white;
      border-radius: 0.25rem;
    }

    h2 {
      font-size: 28px;
    }
  }

  #create-ticket,
  #create-chest {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 2rem;

    input,
    textarea {
      padding: 0.8rem;
      width: 500px;
      border: none;
      background-color: #f2f2f2;
      border-radius: 0.25rem;
      color: #303136;
      font-family: 'Prompt', sans-serif;
      font-size: 18px;
    }

    textarea::placeholder,
    input::placeholder {
      color: #b6c2c2;
    }

    textarea:focus,
    input:focus {
      outline: 1px solid #303136;
    }

    textarea {
      resize: none;
      height: 150px;
    }

    #buttons {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 1rem;
      justify-content: right;

      #cancel,
      #create {
        padding: 0.8rem;
        width: 100px;
        font-size: 18px;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: all 0.1s linear;
        font-family: 'Prompt', sans-serif;
      }

      #cancel {
        background-color: #f4f4f4;
        color: #b6c2c2;
      }

      #cancel:hover {
        background-color: #b6c2c2;
        color: #f4f4f4;
      }

      #create {
        color: white;
        background-color: #4581ce;
      }

      #create:hover {
        background-color: #1a285f;
      }
    }
  }
}

#chest-display {
  display: grid;
  grid-template-rows: max-content 1fr;
  align-items: center;

  #chest-actions {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 4rem;
    color: #b6c2c2;
    padding: 2rem;
    justify-content: right;

    li:hover {
      background-color: #f4f4f4;
      border-radius: 0.25rem;
    }

    li {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 0.8rem;
      align-items: center;
      list-style-type: none;
      cursor: pointer;
      padding: 0.5rem;

      .action-icon {
        width: 18px;
        height: 18px;
      }

      span {
        font-size: 18px;
      }
    }
  }

  #chest-info {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    justify-content: center;
    padding: 2rem;

    #chest-headline {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 0.5rem;
      align-items: center;

      #chest-avatar {
        padding: 0.3rem;
        color: white;
        width: 30px;
        height: 30px;
        background-color: #303136;
        border-radius: 0.25rem;
      }

      h2 {
        font-size: 28px;
      }
    }

    ul {
      display: grid;
      grid-template-rows: repeat(auto, max-content);
      border: 2px solid #e5e5e5;
      border-radius: 0.5rem;

      li {
        display: grid;
        grid-template-rows: repeat(2, max-content);
        gap: 0.5rem;
        align-items: center;
        list-style-type: none;
        padding: 1.5rem;
        min-width: 500px;

        span {
          font-size: 16px;
          color: #4581ce;
        }

        p {
          font-size: 21px;
          word-break: break-all;
        }
      }
    }
  }
}

#edit-chest {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 2rem;
  position: fixed;
  z-index: 2;
  align-self: center;
  justify-self: center;
  padding: 2rem;
  background-color: white;
  border-radius: 0.25rem;

  .error-message {
    background-color: #e5e5e5;
    padding: 0.8rem;
    width: 500px;
    border-radius: 0.25rem;
    color: #bc1823;
    text-align: center;
    font-size: 18px;
  }

  .inputs-edit-chest {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 1rem;
    font-size: 18px;

    label {
      color: #b6c2c2;
    }

    textarea,
    input {
      padding: 0.8rem;
      width: 500px;
      border: none;
      background-color: #f2f2f2;
      border-radius: 0.25rem;
      color: #303136;
      font-family: 'Prompt', sans-serif;
      font-size: 18px;
    }

    textarea:focus,
    input:focus {
      outline: 1px solid #303136;
    }

    textarea::placeholder {
      color: #b6c2c2;
    }

    textarea {
      resize: none;
      height: 150px;
    }
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    justify-content: right;

    #cancel,
    #edit {
      padding: 0.8rem;
      width: 100px;
      font-size: 18px;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: all 0.1s linear;
      font-family: 'Prompt', sans-serif;
    }

    #cancel {
      background-color: #f4f4f4;
      color: #b6c2c2;
    }

    #cancel:hover {
      background-color: #b6c2c2;
      color: #f4f4f4;
    }

    #edit {
      color: white;
      background-color: #4581ce;
    }

    #edit:hover {
      background-color: #1a285f;
    }
  }
}

#edit-chest-features,
#edit-item-features {
  display: grid;
  gap: 2rem;
  position: fixed;
  z-index: 2;
  align-self: center;
  justify-self: center;
  padding: 2rem;
  background-color: white;
  border-radius: 0.25rem;
  font-size: 18px;

  .edit-chest,
  .edit-item {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 1rem;

    #label {
      color: #b6c2c2;
    }

    ul {
      display: grid;
      grid-template-rows: repeat(1, max-content);
      gap: 2rem;
      padding: 1rem;
      background-color: #f4f4f4;
      border-radius: 0.25rem;
      width: 500px;
      justify-items: left;

      li {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 1rem;
        align-items: center;
      }

      .delete-icon,
      .add-icon {
        height: 18px;
        width: 18px;
      }

      .delete-icon {
        color: #bc1823;
        cursor: pointer;
      }

      #add {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 1rem;
        align-items: center;
        color: #4581ce;
        cursor: pointer;
      }
    }
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    justify-content: right;

    #cancel,
    #edit {
      padding: 0.8rem;
      width: 100px;
      font-size: 18px;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: all 0.1s linear;
      font-family: 'Prompt', sans-serif;
    }

    #cancel {
      background-color: #f4f4f4;
      color: #b6c2c2;
    }

    #cancel:hover {
      background-color: #b6c2c2;
      color: #f4f4f4;
    }

    #edit {
      color: white;
      background-color: #4581ce;
    }

    #edit:hover {
      background-color: #1a285f;
    }
  }
}

#add-chest,
#add-website {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 2rem;
  position: fixed;
  z-index: 4;
  align-self: center;
  justify-self: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0.25rem;
  font-size: 18px;

  select,
  input {
    padding: 0.8rem;
    width: 500px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    font-family: 'Prompt', sans-serif;
    color: #303136;
    font-size: 18px;
  }

  input::placeholder {
    color: #b6c2c2;
  }

  select:focus,
  input:focus {
    outline: 1px solid #303136;
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    justify-content: right;

    #cancel,
    #add {
      padding: 0.8rem;
      width: 100px;
      font-size: 18px;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: all 0.1s linear;
      font-family: 'Prompt', sans-serif;
    }

    #cancel {
      background-color: #f4f4f4;
      color: #b6c2c2;
    }

    #cancel:hover {
      background-color: #b6c2c2;
      color: #f4f4f4;
    }

    #add {
      color: white;
      background-color: #4581ce;
    }

    #add:hover {
      background-color: #1a285f;
    }
  }
}

#edit-item-features {
  grid-template-rows: repeat(3, max-content);
}

#edit-chest-features {
  grid-template-rows: repeat(2, max-content);
}

#settings {
  display: grid;
  grid-template-columns: auto 1fr;
  position: fixed;
  z-index: 2;
  align-self: center;
  justify-self: center;
  width: 50%;
  height: 50%;

  .headline {
    font-size: 24px;
  }

  span {
    font-size: 21px;
  }

  #nav-settings {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    background-color: #f4f4f4;
    padding: 2rem 1rem;
    border-radius: 0.25rem 0 0 0.25rem;
    align-content: space-between;

    .nav {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 0.5rem;
      padding: 0.5rem;
      transition: all 0.1s linear;
      justify-self: left;
      border-radius: 0.5rem;
      cursor: pointer;
      align-items: center;

      .nav-settings-icon {
        height: 24px;
        width: 24px;
        padding: 0.5rem;
        background-color: #303136;
        border-radius: 0.5rem;
        align-items: center;
        color: white;
      }
    }

    .nav:hover {
      background-color: #e5e5e5;
    }
  }

  #display-settings {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    padding: 2rem 4rem;
    background-color: white;
    gap: 2rem;
    align-content: center;
    justify-content: center;
    border-radius: 0 0.25rem 0.25rem 0;

    #language,
    #theme {
      display: grid;
      grid-template-rows: repeat(2, max-content);
      gap: 1rem;
      justify-items: left;
    }

    #en,
    #pt,
    #light,
    #dark {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 0.5rem;
      align-items: center;

      .checkbox {
        display: grid;
        height: 30px;
        width: 30px;
        background-color: #e5e5e5;
        border-radius: 0.25rem;
        cursor: pointer;
        justify-content: center;
        align-items: center;

        .checkbox-icon {
          height: 18px;
          width: 18px;
          color: white;
        }
      }

      .checkbox.active {
        background-color: #4581ce;
      }
    }
  }
}
