#stepper {
  display: grid;
  grid-template-columns: 25% 75%;
  position: relative;
  height: 100vh;

  aside {
    display: grid;
    padding: 2rem;
    background-color: #f4f4f4;

    #languages {
      display: grid;
      grid-template-rows: repeat(2, max-content);
      font-size: 16px;
      cursor: pointer;
      justify-self: left;

      #select {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: center;
        border: 1px solid #303136;
        border-radius: 0.25rem;
        background-color: transparent;
        width: 150px;
        padding: 0.5rem 1rem;
      }

      #option {
        margin-top: 0.5rem;
        border-radius: 0.25rem;
        background-color: white;
        padding: 0.5rem 1rem;
        width: 150px;
      }

      #option:hover {
        background-color: #e5e5e5;
      }
    }
  }

  #welcome-section {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    justify-content: center;
    align-content: center;
    gap: 1rem;

    #welcome-message {
      display: grid;
      grid-template-rows: repeat(2, max-content);

      h1 {
        font-size: 32px;
        color: #b6c2c2;
      }

      h2 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
      }
    }

    button {
      padding: 0.5rem 2rem;
      border: none;
      border-radius: 0.6rem;
      cursor: pointer;
      transition: all 0.1s linear;

      span {
        font-size: 21px;
        font-family: 'Prompt', sans-serif;
      }
    }

    #create-account {
      background-color: #4581ce;
      color: white;
    }

    #create-account:hover {
      background-color: #1a285f;
    }

    #sign-in {
      background-color: #f4f4f4;
      color: #b6c2c2;
    }

    #sign-in:hover {
      background-color: #b6c2c2;
      color: #f4f4f4;
    }
  }

  #register-section,
  #login-section {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-content: center;
    align-content: center;
    gap: 2rem;

    .error-message {
      background-color: #e5e5e5;
      padding: 1.2rem;
      border-radius: 0.6rem;
      color: #bc1823;
      text-align: center;
    }

    h1 {
      font-size: 48px;
      text-align: center;
    }

    form {
      display: grid;
      gap: 2rem;
      width: 500px;

      #full-name-input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }

      input {
        background-color: #f4f4f4;
        color: #303136;
        font-family: 'Prompt', sans-serif;
        padding: 1.2rem;
        border-radius: 0.6rem;
        border: none;
      }

      input::placeholder {
        color: #b6c2c2;
        font-size: 16px;
      }

      input:focus {
        outline: 1px solid #303136;
      }

      button {
        background-color: #4581ce;
        color: white;
        border-radius: 0.6rem;
        font-family: 'Prompt', sans-serif;
        cursor: pointer;
        padding: 0.4rem 1.2rem;
        font-size: 18px;
        border: none;
        width: max-content;
        justify-self: center;
        transition: all 0.1s linear;
      }

      button:hover {
        background-color: #1a285f;
      }
    }
  }

  #register-section {
    form {
      grid-template-rows: repeat(5, max-content);
    }
  }

  #login-section {
    form {
      grid-template-rows: repeat(3, max-content);
    }
  }

  #logo-stepper {
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    align-self: center;
  }

  img {
    height: 100px;
  }
}

@media screen and (max-width: 320px) {
  #stepper {
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr;

    aside {
      padding: 1rem;

      #languages {
        font-size: 14px;

        #select {
          width: 125px;
        }

        #option {
          width: 125px;
        }
      }
    }

    #logo-stepper {
      grid-row: 1 / 2;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -50%);
    }

    img {
      height: 50px;
    }

    #welcome-section {
      #welcome-message {
        h1 {
          font-size: 18px;
        }

        h2 {
          font-size: 24px;
        }
      }

      button {
        padding: 0.5rem;

        span {
          font-size: 14px;
        }
      }
    }

    #register-section,
    #login-section {
      gap: 1rem;

      h1 {
        font-size: 24px;
      }

      form {
        justify-content: center;
        width: max-content;
        gap: 1rem;

        input {
          padding: 0.5rem;
        }

        input::placeholder {
          font-size: 14px;
        }

        #full-name-input {
          gap: 1rem;
          grid-template-columns: repeat(2, 100px);
        }

        button {
          padding: 0.5rem 1rem;
          font-size: 14px;
        }
      }
    }

    #login-section {
      input {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 1279px) and (min-width: 321px) {
  #stepper {
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr;

    #logo-stepper {
      grid-row: 1 / 2;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -50%);
    }

    img {
      height: 60px;
    }

    #welcome-section {
      #welcome-message {
        h1 {
          font-size: 21px;
        }

        h2 {
          font-size: 28px;
        }
      }

      button {
        padding: 0.5rem;

        span {
          font-size: 16px;
        }
      }
    }

    #register-section,
    #login-section {
      h1 {
        font-size: 28px;
      }

      form {
        justify-content: center;
        width: max-content;

        #full-name-input {
          grid-template-columns: repeat(2, 160px);
        }

        button {
          font-size: 16px;
        }
      }
    }

    #login-section {
      input {
        width: 320px;
      }
    }
  }
}
